@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

body, html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: rgb(41, 41, 41);
}

input {
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 2px 8px;
}

button {
    all: unset;
    cursor: pointer;
}

.tasklist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 25px;
    min-width: 350px;
}

.tasklist .list {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.tasklist .list .task {
    padding: 3px 10px;
    width: 100%;
    transition: 0.3s ease;
}

.tasklist .list .task:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#inputBtn {
    background-color: rgb(60, 107, 164);
    padding: 6px 10px;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s ease;
}

#inputBtn:hover {
    background-color: rgb(74, 133, 205);
}